@import "simplevariables";

#contactMain {
  padding-top: 150px;
}
h1 {
  text-align: center;
}

#contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  position: center;
  grid-gap: 15px 50px ;
  max-width: 90%;
  margin: 0 auto;

  h2 {
    margin-top: 0px;
    text-align: center;
  }


}
@media screen and (min-width: 1025px){
  #contact {
    grid-template-columns: 1fr 1fr;
  }

  #contactMain {
    padding-top: 100px;
  }
  #contacthead{
    margin: $margin;
    text-align: center;

  }


}