@import url('https://fonts.googleapis.com/css?family=Open+Sans');


$color-text: #000000;
$color-link: #E85459;
$background-color: #f2f2f2;
$secondary-background: white;
$margin: 2%;
$font-text: 'Open sans', sans-serif;
$font-headline: 'Cardo', serif;
$p-mobile: 18px;
$p-desktop: 16px;
$h-mobile: 28px;
$h-desktop: 27px;
$footer-color: #9C292D;


