@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#image-section {
  display: grid;
  height: 100%;
  margin-bottom: 30px;
  padding-top: 150px; }
  #image-section #utb-container {
    position: relative; }
    #image-section #utb-container .start_img3 {
      max-width: 100%;
      max-height: 100vh;
      margin: auto; }
    #image-section #utb-container #over-image-txt {
      position: absolute;
      top: 0;
      left: 10px;
      margin: 20px; }
      #image-section #utb-container #over-image-txt h1 {
        font-family: "Cardo", serif;
        font-size: 28px;
        margin: 0; }
      #image-section #utb-container #over-image-txt p {
        max-width: 35%;
        font-size: 14px;
        text-align: left;
        margin: 0; }
      #image-section #utb-container #over-image-txt #txt-hide {
        display: none; }

#utbildningar {
  margin: 20px 2% 2% 2%; }
  #utbildningar h1 {
    text-align: left; }
  #utbildningar p {
    margin: 6%;
    text-align: left; }
  #utbildningar a {
    text-decoration: none; }
  #utbildningar #myBtnContainer {
    display: grid;
    margin-bottom: 3%;
    grid-gap: 2%; }
    #utbildningar #myBtnContainer .btn {
      font-size: 18px;
      font-weight: lighter;
      border: none;
      outline: none;
      padding: 5px 0;
      background-color: white;
      position: relative;
      color: #000000;
      cursor: pointer;
      border-radius: 3px;
      height: 40px;
      transition: clip-path; }
    #utbildningar #myBtnContainer .btn:hover {
      background-color: #ddd; }
    #utbildningar #myBtnContainer .btn.active {
      background-color: #E85459;
      color: white; }
  #utbildningar .container {
    display: grid;
    grid-gap: 2px;
    margin-top: 50px;
    margin-bottom: 20px; }
    #utbildningar .container a {
      height: 100%;
      width: 70%;
      margin-left: 15%; }
    #utbildningar .container .filterDiv {
      background-color: rgba(61, 61, 61, 0.6);
      color: white;
      font-family: "Open sans", sans-serif;
      text-align: center;
      display: none;
      /* Hidden by default */
      padding: 2px;
      border-radius: 3px; }
      #utbildningar .container .filterDiv a {
        text-decoration: none;
        color: white; }
    #utbildningar .container .filterDiv:hover {
      background-color: black;
      color: #E85459; }
    #utbildningar .container p {
      padding: 5px;
      margin: 0; }
    #utbildningar .container .show {
      display: block; }
    #utbildningar .container .hide {
      display: none; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #image-section {
    margin-bottom: 40px; }
    #image-section #utb-container #over-image-txt {
      position: absolute;
      top: 20px;
      left: 20px;
      margin: 20px; }
      #image-section #utb-container #over-image-txt h1 {
        font-family: "Cardo", serif;
        font-size: 40px;
        margin: 20px 0; }
      #image-section #utb-container #over-image-txt p {
        max-width: 45%;
        font-size: 16px;
        text-align: left;
        margin: 0; }

  #utbildningar {
    margin: 80px 4% 50px 4%; }
    #utbildningar #myBtnContainer {
      grid-template-columns: repeat(5, 1fr); }
      #utbildningar #myBtnContainer .btn {
        height: auto;
        padding: 10px;
        margin: 0; }
    #utbildningar .container {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px; }
      #utbildningar .container a {
        margin: 0;
        height: 100%;
        width: auto; }
      #utbildningar .container .filterDiv {
        background-color: rgba(61, 61, 61, 0.6);
        color: white;
        font-family: "Open sans", sans-serif;
        text-align: center;
        display: none;
        /* Hidden by default */
        padding: 5px;
        border-radius: 3px; }
      #utbildningar .container .filterDiv:hover {
        background-color: white;
        color: #E85459; }
      #utbildningar .container p {
        padding: 5px;
        margin: 0; }
      #utbildningar .container .show {
        display: block; }
      #utbildningar .container .hide {
        display: none; } }
@media screen and (min-width: 1025px) {
  #image-section {
    margin-bottom: 40px;
    padding-top: 100px; }
    #image-section #utb-container #over-image-txt {
      position: absolute;
      top: 30px;
      left: 20px;
      margin: 20px 20px 20px 30px; }
      #image-section #utb-container #over-image-txt h1 {
        font-family: "Cardo", serif;
        font-size: 40px;
        margin: 20px 0 20px 0; }
      #image-section #utb-container #over-image-txt p {
        max-width: 45%;
        font-size: 16px;
        text-align: left;
        margin: 0; }
      #image-section #utb-container #over-image-txt #txt-hide {
        display: block; }

  #utbildningar {
    margin: 80px 4% 50px 4%; }
    #utbildningar #myBtnContainer {
      grid-template-columns: repeat(5, 1fr); }
      #utbildningar #myBtnContainer .btn {
        height: auto;
        padding: 10px;
        margin: 0; }
    #utbildningar .container {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px; }
      #utbildningar .container a {
        height: 100%;
        width: auto;
        margin: 5px; }
    #utbildningar .filterDiv {
      background-color: rgba(61, 61, 61, 0.6);
      color: white;
      font-family: "Open sans", sans-serif;
      text-align: center;
      display: none;
      /* Hidden by default */
      padding: 5px;
      border-radius: 3px;
      margin: 5px; }
      #utbildningar .filterDiv a {
        text-decoration: none;
        color: white; }
      #utbildningar .filterDiv .filterDiv:hover {
        background-color: white;
        color: #E85459; }
      #utbildningar .filterDiv p {
        padding: 5px;
        margin: 0; }
      #utbildningar .filterDiv .show {
        display: block; }
      #utbildningar .filterDiv .hide {
        display: none; } }

/*# sourceMappingURL=Utbildningar.css.map */
